/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color: $default;
  &:hover {
    background-color: $default-color-lighten;
    transition: ease 1s;
  }
}

.error {
  background-color: $error;
  &:hover {
    background-color: $error-color-lighten;
    transition: ease 1s;
  }
}

.info {
  background-color: $info;
  &:hover {
    background-color: $info-color-lighten;
    transition: ease 1s;
  }
}

.success {
  background-color: $success;
  &:hover {
    background-color: $success-color-lighten;
    transition: ease 1s;
  }
}

.warning {
  background-color: $warning;
  &:hover {
    background-color: $warning-color-lighten;
    transition: ease 1s;
  }
}
